<div class="footer">
    <footer class="text-white text-center text-lg-start bg-secondary">
    <div class="p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About company</h5>
  
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti.
          </p>
  
          <p>
            Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.
          </p>
  
          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-danger btn-md"><i class="fa fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-danger btn-md" style="margin-left: 2%"><i class="fa fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-danger btn-md" style="margin-left: 2%"><i class="fa fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-danger btn-md" style="margin-left: 2%"><i class="fa fa-google-plus"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
       
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
         
          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">Tirupati, Chittor, AP</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fa fa-envelope"></i></span><span class="ms-2">originT@gmail.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+ 91 234 567 88</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fa fa-print"></i></span><span class="ms-2">+ 91 234 567 89</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Opening hours</h5>
  
          <table class="hours text-white">
            <tbody class="font-weight-normal">
              <tr>
                <td>Monday - Friday:</td>
                <td>9AM - 5PM</td>
              </tr>
              <tr>
                <td>Saturday:</td>
                <td>9AM - 1PM</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>Holiday</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="https://origint.com/">OriginT.com</a>
    </div>
   </footer>
  
</div>
