.header {
    background-color: gray;
}

.logo {
    width: 10%;
    height: 90px;
    background-size: contain;
    margin-left: 1%;
    background-image: url('/assets/images/logo-png.png');
}

.navbar-brand {
    width: 150px;
  }
  
  .navbar-brand > img {
    width: 100%;
    margin-left: 5%;
  }